@{
    ViewData["Title"] = "Location Forecasting";
}

<div class="text-center">
    <h1 class="display-4">Weather Forecast</h1>
    <h5>Select any location in the United States to retrieve the forecast.</h5>
</div>

<!-- Marker Location -->
<div id="location"></div>

<div id="tooltip"><p>Click to show more details.</p></div>

<!-- Forecast Banner -->
<div id="forecast"></div>

<!-- Weather Forecast -->
<div id="weather"></div>

<!-- Map Goes Here -->
<div id="map"></div>


<script src="~/js/mapLoader.js"></script>
<script src="~/js/map.js"></script>
<script src="~/js/forecast.js"></script>
<script src="~/js/GetWeather.js"></script>
<script src="~/js/GetLocation.js"></script>


